
.iine_bo{
  width: 1200px;
  margin: 0 auto;
}
.iine_bo2{
  display: flex;
  padding: 40px 0;
  border-bottom: 2px #aaa dashed;
}
.iine_re{
  font-weight: bold;
    color: #000;
}
.iine_re span{
  color: black;
  font-weight: 100;
}


/* ページネーション */
.p-top{
  font-size: 16px;
  padding-top: 30px;
  text-align: center;
  color: #EF6537;
}
#pagination{
  display: flex;
  width: 100vw;
  justify-content: center;

}
.pagination:first-child{
  margin-right: 40px;
}
.pagination:last-child{
  margin: 0 0 0 30px;
}
.pagination{
  margin-right: 10px;
}
.pagination a:first-child{
  border-radius: 20px;
}
.pagination a:last-child{
  border-radius: 20px;
}
.pagination a{
  padding: 10px 13px;
  border:1px solid ;
  border-radius: 50%;
  color: #EF6537;
}
.pagination a:hover{
  background-color: #EF6537;
  color: #fff;
  transition: 0.2s;
}
