/* マイページ */
.yumy{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.yuti{
  margin-top: 120px;
  width: 270px;
  text-align: center;
}
.yuname{
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px #FFECD9 solid;
  border-radius: 30px;
  background-color:#FFECD9;
  font-family: 'Kosugi Maru', sans-serif;
}

ul.yupul li{
  padding: 15px;
  border-bottom: 2px #aaa dashed;
  text-align: left;
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: 100;
}
.rebo{
  width: 900px;
}

/* お気に入り一覧表示 */

.iine_list{
 margin: 65px 0 40px 0;
}
