.user_syow{
  width: 1200px;
  margin: 45px auto;
}
/* ○○さんの情報 */
.yu_ti{
  text-align: center;
  padding-top: 66px;
  font-size: 25px;
  font-family: 'Kosugi Maru', sans-serif;
}

/* ユーザーアイコン */
.user_img{
  width: 165px;
  height: 165px;
  border-radius: 50%;
}

/* フォロー数など */
.pro{
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  color: rgb(253, 135, 0);;
}

.frow{
  background: rgba(255, 218, 175, 0.459);
  border-radius: 10px;
  width: 80px;
  padding-top: 12px;

}
.frow h6{
  font-size: 14px;
}
.fro{
  background: rgba(255, 218, 175, 0.459);
  border-radius: 10px;
  width: 80px;
  padding-top: 12px;

}
.fro h6{
  font-size: 14px;
}
.reciin{
  background: rgba(255, 218, 175, 0.459);
  border-radius: 10px;
  width: 80px;
  padding-top: 12px;
}
.reciin h6{
  font-size: 14px;
}
.frow_in{
  padding-top: 10px;
  padding-bottom: 15px;
}
